{% macro componentList(components) %}
  {% for component in components %}
    {% import "./components/" + component.type.toLowerCase() + ".njk" as view %}
    {{ view[component.type](component) }}
  {% endfor %}
{% endmacro %}