{% from "./checkboxeswithtextfield/macro.njk" import hapiGovukQuestionPageCheckboxesWithText %}

{% macro CheckboxesWithTextField(component) %}
  {{ hapiGovukQuestionPageCheckboxesWithText(component.model) }}
{% endmacro %}
